[submodule "sentiment-analysis-training"]
	path = sentiment-analysis-training
	url = https://github.com/alvaro-frank/sentiment-analysis.git
[submodule "sentiment-analysis-backend"]
	path = sentiment-analysis-backend
	url = https://github.com/alvaro-frank/sentiment-analysis-backend.git
[submodule "sentiment_analysis"]
	path = sentiment_analysis
	url = https://github.com/alvaro-frank/sentiment_analysis.git
